.header {
    background-color: #5d5d5d;

    &__inner {
        justify-content: space-between;
        align-items: center;
        min-height: 62px;
        height: 100%;
    }

    &__nav-list {}

    &__link {
        position: relative;
        display: inline-block;
        height: 62px;
        color: white;
        font-size: 16px;
        padding: 24px 20px 0;
        transition: all 0.3s;
        outline: transparent;

        &::after {
            content: "";
            position: absolute;
            height: 3px;
            width: 0;
            bottom: 0;
            left: 0;
            background-color: #ffba00;
            transition: width 0.3s;
        }
        
        &.active {
            color: $gold;
            &::after{
                width: 100%;
            }
        }
        &:focus,&:hover,&:active{
            &::after{
                width: 100%;
            }
        }
        &:focus {
            color: rgba($gold, 0.6);
        }

        &:hover {
            color: $gold;            
        }

        &:active {
            color: gold;
        }
    }
}